h1 {
    background-color: black;
}

body {
    background-color: black;
    
}
img {
    border-image-width: 2px;
    border-color: #edffd9;
    float: center;

}

h1 {
    color:#81B53A;
    background-color: black;
    font-weight: bold;
}

h2{
    color: #81B53A;
}
a {
    color: #81B53A;
        
}
p {
    color: grey;
    text-align: center;
    background-color: black
}
/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
    color: grey;
  }
 