body {
    background-color:#f5E8D0;
    
}
img {
    border-image-width: 2px;
    border-color: #edffd9;
}

a {
    color:#f6a035;
        
}
p {
    color:#3a3042;
}
/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
  }