h1 {
    font-size: 1rem;
    color:#81B53A;
    font-weight: bold;
}

body {
    background-image: url('https://cdn.hipwallpaper.com/i/89/70/VFsfaP.jpg');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

li.nav-link {
    color: whitesmoke;
}

div.jumbotron {
    background-image: url('https://i.pinimg.com/originals/fe/c3/d4/fec3d41a41d5b15032c7da7db5ffa5a5.jpg');
    background-position: stretch;
    height: 100%;
    width: 100%;
}
img {
    border-image-width: 2px;
    border-color: #edffd9;
    float: center;
}

h2{
    color: #81B53A;
}
a {
    color: #81B53A;
        
}
p {
    color:whitesmoke;
    text-align: center;
}
/* Move down content because we have a fixed navbar that is 3.5rem tall */
